/*------------- RESET ----------------------*/
*{box-sizing: border-box;}
*{margin:0;padding:0}
*{scroll-behavior: smooth}
*{-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: white;}

html, body{width: 100%; position: relative;}

body{font-size: 18px;}

main{width: 100%; overflow-x: hidden;}


/*----------------------- FONTS -----------------------*/

/* font-family: 'Covered By Your Grace', cursive; */

/* font-family: 'Waiting for the Sunrise', cursive; */

/*---------------------- END FONTS -----------------------*/

/*----------------------- VAR COLOR ------------------------*/
:root{
    --brightred: #F9423D;
    --darkgray: #212329;
    --darkgrayTransparent: #21232961;
	--darkredtransparent: #801e1b5d;
    --deepdark:#000;
    --lightred: #f9433dcc;
    --lightyellow:  #f4a235;
	--lightwhite:rgba(114,114,114,.25);
    --lightdark: rgba(19, 18, 18, 0.664);
	--ligthtransparent: rgba(0, 0, 0, 0.56);
	--lightgraytransparent: rgba(61, 61, 61, 0.185);
    --whitegraytransparent: rgba(183, 183, 183, 0.655);
    --white: #fff;
}

/*------------------------ END VAR COLOR ----------------------*/


/*--------------------------------- HEADER --------------------------------------*/
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.bgk-items{
    background: url('/assets/medias/bkg-img/Lenina_Home_Background.jpg') center center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/*----------------- NAVBAR MENU -------------------*/
.nav-container{
    width: 100vw;
    background-color: var(--lightdark);
    /*background-color: var(--darkgray);*/
  }
  
  #nav{
    position:fixed;
    top: 0;
    transition: top 0.4s ;
    z-index: 9999;
  }
  
  #nav.navbar{
    background-color: var(--lightdark);
  }
  
  #nav.navbar.hidden {
    top: -80px;
  }
  
  .navbar{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Covered By Your Grace', cursive;
    font-weight: bold;
    
  }
  
  #navbar-logo{
    justify-self: start;
    width: 240px;
    margin: 0 20px 10px;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2em;
    text-decoration: none;
    color: var(--lightyellow);
  }
  
  #navbar-logo{
    cursor: pointer;
  }
  
  .nav-menu{
    display: grid;
    grid-template-columns: repeat(8, auto);
    list-style: none;
    text-align: center;
    justify-self: end;
  }
  
  .nav-links{
    font-size: 1.5em;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 20px;
  }
  
  
  .nav-links:hover{
    color: var(--lightyellow);
    transition: all 0.2s ease-out;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-out;
    background: var(--white) ;
  }

/*---------------Hover FX Nav menu--------------*/
/* span {
	position: relative;
	display: block;
	cursor: pointer;
}

span:before, span:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 2px;
	top: 50%;
	margin-top: -0.5px;
	background: #fff;
}

span:before {
	left: 0.5px;
}
span:after {
	right: 0.5px;
	background: rgb(255, 0, 0);
	transition: width 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
	background: rgb(255, 0, 0);
	width: 100%;
	transition: width 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
} */
/*--------------------END Hover FX Nav menu--------------*/

/*---------------- END NAVBAR MENU ------------------*/
.col h1, h2, h3{
    color: var(--white);
    font-family: 'Covered By Your Grace', cursive;
}

.col h1{
	font-size: 6em;
	font-weight: 400;
	color: var(--lightyellow);
}

.col h2{
	font-size: 3.75em;
	font-weight: 400;
	color: var(--white);
}

.col h3{
	font-size: 2em;
	font-weight: 400;
	color: var(--white);
}

.row.align-items-start{
	height:450px;
	padding-top: 200px;
}

.row.align-items-end{
	height: 250px;
    margin-top: 100px;
}

/*--------------------------------- END HEADER -----------------------------------*/

/*--------------------------------- MAIN -----------------------------------*/

main{
    background: url("/assets/medias/bkg-img/dark-layer.jpg") center center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* filter: grayscale(100%); */
}

section{
    width: 100%;
    margin: 100px 0;
    overflow: hidden;
}

.title-section{
    font-family: 'Covered By Your Grace';
    font-weight: 400;
    text-transform: none;
    font-size: 60px;
    letter-spacing: 0;
    font-style: inherit;
    color: var(--white);
    line-height: 22px;
    text-align: center;
    padding: 100px 0;
}

/*------------------------------- SECTION RELEASES -----------------------*/
.releases-items{

}

.container-fluid{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1400px;
	z-index:1;
	/* background-color: var(--lightgraytransparent); */
}

.container-fluid .card{
	position: relative;
	width: 320px;
	height: 320px;
	margin: 25px;
	border-radius: 5px ;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.71);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px); 
	background-image: url("../medias/releases/cover-last-350.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

.container-fluid > .cover2{
	background-image: url("../medias/releases/cover-duality-350.jpg");
}

.container-fluid > .cover3{
	background-image: url("../medias/releases/cover-lenina-350.jpg");
}
.container-fluid > .cover4{
	background-image: url("../medias/releases/cover-lipsick-350.jpg");
}
.container-fluid > .cover5{
	background-image: url("../medias/releases/cover-vivreetlaisserpourrir-350.jpg");
}
.container-fluid > .cover6{
	background-image: url("../medias/releases/punk-rock-album-cover-3.jpg");
}

.container-fluid .card .content{
	padding: 20px;
	text-align: center;
	transform: translateY(100px);
	opacity: 0;
	transition: 0.5s;
}

.container-fluid .card:hover .content{
	background: rgba(0, 0, 0, 0.826);
	transform: translateY(0px);
	opacity: 1;
}

.container-fluid .card .content h3{
	font-size: 1.8em;
	font-family: 'Waiting for the Sunrise', cursive;
	color: var(--white);
	z-index: 1;
}

.container-fluid .card .content h4{
	font-size: 1.5em;
	font-family: 'Waiting for the Sunrise', cursive;
	color: var(--white);
	z-index: 1;
}

.container-fluid .card .content p{
	font-size: 1.3em;
	font-family: 'Waiting for the Sunrise', cursive;
	font-weight: 400;
	color: var(--white);
}

.container-fluid .card .content a{
	position: relative;
	display: inline-block;
	padding: 8px 35px;
	color: var(--deepdark);
	text-decoration: none;
	font-family: 'Waiting for the Sunrise', cursive;
	font-weight: bold;
	
}

.container-fluid .card .content a:hover{
	color: var(--lightyellow);
}

.container-fluid .card .content button{
	border: 1px solid var(--lightdark);
	background: var(--white);
	border-radius: 20px;
}

.container-fluid .card .content button:hover{
	background-color: var(--deepdark);
}


.card{
	margin: 15px;
}

.content{
	width: 350px;
	height: 350px;
}


/*------------------------------- END SECTION RELEASES -----------------------*/

/*------------------------------- SECTION ABOUT US -----------------------*/
.about-items{
   
}

.content-text{
	display: flex;
	flex-direction:row;
    justify-content: center;
	margin: auto;
    padding: 20px;
	background-color: var(--lightdark);
	width: 75%;
}

.content-text p{
    display:flex;
	padding: 20px;
	font-family: 'Waiting for the Sunrise', cursive;
	font-weight: 400;
	font-size: 24px;
	color:#ffffff;
}
/*------------------------------- END SECTION ABOUT US -----------------------*/

/*------------------------------- SECTION LIVE -----------------------*/
.live-items{
}

.col-lg{
	color: #ffffff;
	font-family: 'Waiting for the Sunrise', cursive;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper .row{
	border-top: 1px solid var(--whitegraytransparent);
	margin-left: 30px!important;
	margin-right: 30px!important;
	padding: 10px;
	transition: all 1s;
}

.wrapper .row:hover{
	background-color: var(--darkredtransparent);
	transition: all 1s;
}

a.button{
	font-size: 0.9em;
	color: var(--white);
	background-color: var(--deepdark);
	border: 1px solid var(--white);
	text-decoration: none;
	padding: 5px 40px;
	transition: all 0.1s linear 0.1s;
}

a.button:hover{
	background-color: var(--brightred);
	text-decoration: none;
	color: var(--white);
	transition: all 0.1s linear 0.1s;
}
/*------------------------------- END SECTION LIVE -----------------------*/

/*------------------------------- SECTION PHOTOS VIDEOS -----------------------*/
.photos-items{
}

/*-----------videos----------------*/
.wrapper-video{
	display: flex;
	justify-content: center;
	filter: grayscale(100%);
    padding: 30px
}

.carousel img{
	margin: auto;
}

.carousel iframe{
	margin: auto;
}
/*------------------------------- END SECTION PHOTOS VIDEOS -----------------------*/

/*------------------------------- SECTION CONTACT -----------------------*/
.contact-items{
}

.contact{
	padding-top: 80px;
	padding-bottom: 80px;
}

.follow{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.follow p{
	color: #ffffff;
	font-family: 'Waiting for the Sunrise', cursive;
	font-weight: 400;
	font-size: 24px;
}

/*------------------------------- END SECTION CONTACT -----------------------*/

/*--------------------------------- END MAIN -------------------------------------*/

/*---------------------------------- FOOTER --------------------------------------*/
footer{
	background-image: linear-gradient(rgba(42, 41, 41, 0.896), 
    rgba(5, 5, 5, 0.766)), url("../medias/bkg-images/dark-layer.jpg");
	background-size: cover;
}
.social-banner{
	margin-bottom: 90px;
	background-color: #000000;
}
  
.social-icons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.social-icons i{
	padding: 50px;
}

.fa-facebook:hover{
	color:#3366cc; 
	cursor: pointer;
}

.fa-bandcamp:hover {
    color: #669999;
    cursor: pointer;
}

.fa-twitter:hover {
    color: #3399ff;
    cursor: pointer;
}
  .credit{
	display:flex;
	align-items: center;
	justify-content: space-around;
	color: var(--white);
	font-family: 'Waiting for the Sunrise', cursive;
	font-weight: 400;
	font-size: 16px;
	padding: 50px;
  }

  .credit a{
	text-decoration: none;
  }