/* ----------------MEDIA QUERIES------------------------- */

:root{
    --brightred: #F9423D;
    --darkgray: #212329;
    --darkgrayTransparent: #21232961;
	--darkredtransparent: #801e1b5d;
    --deepdark:#000;
    --lightred: #f9433dcc;
    --lightyellow:  #f4a235;
	--lightwhite:rgba(114,114,114,.25);
    --lightdark: rgba(19, 18, 18, 0.664);
	--ligthtransparent: rgba(0, 0, 0, 0.56);
	--lightgraytransparent: rgba(61, 61, 61, 0.185);
    --whitegraytransparent: rgba(183, 183, 183, 0.655);
    --white: #fff;
    --navburger:rgba(0, 0, 0, 0.783);
}

/*------------------BURGER MENU------------------*/
@media screen and (max-width:1080px) {
    
    .nav-container{
        position: relative;
    }
    
    .nav-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.7s ease;
    }
    
    #navbar-logo {
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    .nav-menu.active{
        background-color: var(--navburger) ;
        left: 0;
        opacity: 1;
        transition: all 0.7s ease;
    }
    
    .nav-links{
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }
    
    .nav-links:hover{
        color: var(--white);
        transition: all 0.4s ease-out;
    }
    
    .navbar{
        width: 100%;
    }
    
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    
    .menu-toggle .bar{
        display: block;
        cursor: pointer;
    }
    
    .menu-toggle:hover{
        cursor: pointer;
    }
    
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /*----------------------Hover FX Nav Items----------------*/

    .line-through:hover:before {
        width: 100%;
    }
    
    .line-through:hover:after {
        width: 0%;
    }

    .line-through:before, .line-through:after {
        top: 50%;
    }
}

/*------------------END BURGER MENU------------------*/


 @media screen and (min-width:1400px){

    /*----------------Navbar Logo-------------*/
     #navbar-logo{
        font-size: 1.3em;
    }

    /*---------------HEADER main title--------*/ 

    .col h1{
        font-size: 6em;
        font-weight: 400;
        color: var(--lightyellow);
    }
    
    .col h2{
        font-size: 3.75em;
        font-weight: 400;
        color: var(--white);
    }
    
    .col h3{
        font-size: 2em;
        font-weight: 400;
        color: var(--white);
    }
    
    .row.align-items-start{
        height:450px;
        padding-top: 200px;
    }
    
    .row.align-items-end{
        height: 250px;
        margin-top: 100px;
    }
} 

@media screen and (min-width:1200px) {

    /*----------------Navbar Logo-------------*/
     #navbar-logo{
        font-size: 1.3em;
    }

    /*---------------HEADER main title--------*/ 

    .col h1{
        font-size: 5em;
        font-weight: 400;
        color: var(--lightyellow);
    }
    
    .col h2{
        font-size: 3em;
        font-weight: 400;
        color: var(--white);
    }
    
    .col h3{
        font-size: 2em;
        font-weight: 400;
        color: var(--white);
    }
    
    .row.align-items-start{
        height:600px;
        padding-top: 200px;
    }
    
    .row.align-items-end{
        height: 160px;
        margin-top: 100px;
    }

    /*-------------SECTION RELEASES--------------*/

    .container-fluid .card.cover2 .content h3{
        font-size: 1.7em;
    }

    .container-fluid .card.cover2 .content p{
        font-size: 1.1em;
    }
}


@media screen and (min-width:992px) and (max-width: 1199px) {

    /*----------------Navbar Logo-------------*/
     #navbar-logo{
        font-size: 1.3em;
    }

    /*---------------HEADER main title--------*/    
    .col h1{
        font-size: 5em;
        font-weight: 400;
        color: var(--lightyellow);
    }
    
    .col h2{
        font-size: 3em;
        font-weight: 400;
        color: var(--white);
    }
    
    .col h3{
        font-size: 2em;
        font-weight: 400;
        color: var(--white);
    }
    
    .row.align-items-start {
        height: 470px;
        padding-top: 150px;
    }
    
    .row.align-items-end {
        height: 175px;
        margin-top: 0px;
    }

    /*-------------SECTION RELEASES--------------*/

    .container-fluid .card.cover2 .content h3{
        font-size: 1.7em;
    }

    .container-fluid .card.cover2 .content p{
        font-size: 1.1em;
    }
}


@media screen and (min-width:768px) and (max-width: 991px) {

    /*----------------Navbar Logo-------------*/
     #navbar-logo{
        font-size: 1.3em;
    }

    /*---------------HEADER main title--------*/
    .col h1{
        font-size: 4em;
    }

    .col h2{
        font-size: 2.5em;
    }

    .col h3{
        font-size: 1.8em;
    }

    .row.align-items-start {
        height: 660px;
        padding-top: 132px;
    }

    .row.align-items-end {
        height: 0;
        margin-top: 45px;
    }

    /*-------------SECTION RELEASES--------------*/

     .container-fluid .card.cover2 .content h3{
        font-size: 1.7em;
    }

    .container-fluid .card.cover2 .content p{
        font-size: 1.1em;
    }
}

@media screen and (min-width:576px) and (max-width: 767px) {

    /*----------------Navbar Logo-------------*/
    #navbar-logo{
        font-size: 1.3em;
    }

    /*---------------HEADER main title--------*/
    .col h1{
        font-size: 4em;
    }

    .col h2{
        font-size: 2em;
    }

    .col h3{
        font-size: 1.5em;
    }

    .row.align-items-start {
        height: 490px;
        padding-top: 132px;
    }

    .row.align-items-end {
        height: 0;
        margin-top: 45px;
    }

    /*-------------SECTION RELEASES--------------*/

    .container-fluid .card.cover2 .content h3{
        font-size: 1.7em;
    }

    .container-fluid .card.cover2 .content p{
        font-size: 1.1em;
    }
   

}

@media screen and (min-width:414px) and (max-width: 575px) {
/* iPhone6/7/8 PLUS */

/*----------------Navbar Logo-------------*/
#navbar-logo{
    font-size: 1.3em;
}

 /*---------------HEADER main title--------*/
    .col h1{
        font-size: 2.5em;
    }

    .col h2{
        font-size: 2em;
    }

    .col h3{
        font-size: 1.5em;
    }

    .row.align-items-start {
        height: 490px;
        padding-top: 132px;
    }

    .row.align-items-end {
        height: 0;
        margin-top: 45px;
    }

    /*-------------SECTION RELEASES--------------*/

    .container-fluid .card.cover2 .content h3{
        font-size: 1.7em;
    }

    .container-fluid .card.cover2 .content p{
        font-size: 1.1em;
    }

    /*---------------SECTION PHOTO VIDEO-----------------*/

    .w-50{
        width: 70%!important;
    }

    iframe{
        height: 60%;
    }

    /*------------------CONTACT-----------------*/

    .follow {
        display: flex;
        flex-direction: column;
        padding: 50px;
        text-align: center;
    }

    .follow p{
        font-size: 22px;
    }

    .social-icons{
        flex-direction: column;
    }

    /*----------FOOTER----------*/

    .credit{
        flex-direction: column;
        font-weight: 800;
        font-size: 16px;
        padding: 25px 15px;
    }

    .credit:first-child{
        text-align: center;
    }
    
    .legal{
        margin-right: 0;
    }


}

@media screen and (min-width:375px) and (max-width: 413px) {
    /* iPhone6/7/8 */

    /*----------------Navbar Menu-------------*/
    #navbar-logo{
        font-size: 1.3em;
    }

    /*---------------HEADER main title--------*/
    .col h1{
        font-size: 2.5em;
    }
    
    .col h2{
        font-size: 2em;
    }
    
    .col h3{
        font-size: 1.5em;
    }
    
    .row.align-items-start {
        height: 490px;
        padding-top: 132px;
    }
    
    .row.align-items-end {
        height: 0;
        margin-top: 55px;
    }

    /*----------------SECTION RELEASES-------------*/

    .container-fluid .card{
        width: 301px;
        height: 301px;
    }

    .container-fluid .card .content h3{
        font-size: 1.5em;
    }
    
    .container-fluid .card .content h4{
        font-size: 1.1em;
    }

    .container-fluid .card .content p{
        font-size: 1em;
    }
    /*---------------SECTION PHOTO VIDEO-----------------*/

    .w-50{
        width: 70%!important;
    }

    iframe{
        height: 60%;
    }


    /*------------------CONTACT-----------------*/

    .follow {
        display: flex;
        flex-direction: column;
        padding: 50px;
        text-align: center;
    }

    .follow p{
        font-size: 22px;
    }

    .social-icons{
        flex-direction: column;
    }

    /*----------FOOTER----------*/

    .credit{
        flex-direction: column;
        font-weight: 800;
        font-size: 16px;
        padding: 25px 15px;
    }

    .credit:first-child{
        text-align: center;
    }

    .legal {
        margin-right: 0;
    }

    
}

@media screen and (min-width:320px) and (max-width: 374px) {
    /* iPhone5 */
    /*----------------Navbar Menu-------------*/
    #navbar-logo{
        font-size: 1.5em;
    }

    /*---------------HEADER main title--------*/

    .col h1{
        font-size: 2.7em;
    }
    
    .col h2{
        font-size: 1.7em;
    }
    
    .col h3{
        font-size: 1.4em;
    }
    
    .row.align-items-start {
        height: 350px;
        padding-top: 137px;
    }

    .row.align-items-end {
        height: 0;
        margin-top: 0;
    }


/*----------------SECTION ABOUT US-------------*/

    .content-text p{
        font-size: 15px;
    }


    /*----------------SECTION RELEASES-------------*/

    .container-fluid .card{
        height: 246px;
    }

    .container-fluid .card .content h3{
        font-size: 1.4em;
    }
    
    .container-fluid .card .content h4{
        font-size: 1em;
    }

    .container-fluid .card .content p{
        font-size: 0.8em;
        word-break: break-all;
    }

    .container-fluid .card .content a{
        padding: 8px 80px;
    }
    
    /*-------------------SECTION Live-------------*/
    .wrapper .row{
        padding: 25px;
    }

    /*---------------SECTION PHOTO VIDEO -------------*/

    .w-50{
        width: 70%!important;
    }

    iframe{
        height: 60%;
    }

    /*------------------CONTACT-----------------*/

    .follow {
        display: flex;
        flex-direction: column;
        padding: 50px;
        text-align: center;
    }

    .follow p{
        font-size: 22px;
    }

    .social-icons{
        flex-direction: column;
    }

    
    /*----------FOOTER----------*/

    .credit{
        flex-direction: column;
        font-weight: 800;
        font-size: 16px;
        padding: 25px 15px;
    }

    .credit:first-child{
        text-align: center;
    }

    .legal {
        margin-right: 0;
    }

}

/*---------------------- LANDSCAPE ----------------------*/

@media screen and (max-height:667px) and (max-height:768px) {
    .row.align-items-start {
        height: 430px;
        padding-top: 150px;
    }
}

@media screen and (max-height:567px) and (max-height:666px) {

    .row.align-items-start {
        height: 410px;
        padding-top: 137px;
    }
}

@media screen and (min-height:414px) and (max-height:566px) {

    .row.align-items-start{
        height: 252px;
        padding-top: 85px;
    }

    .col h1 {
        font-size: 2.5em;
    }

    .col h2 {
        font-size: 1.8em;
    }

    .col h3 {
        font-size: 1.5em;
    }

}

@media screen and (min-height:375px) and (max-height:413px) {

    .row.align-items-start{
        height: 220px;
        padding-top: 85px;
    }

    .col h1 {
        font-size: 3em;
    }

    .col h2 {
        font-size: 1.8em;
    }

    .col h3 {
        font-size: 1.5em;
    }

}


@media screen and (min-height:320px) and (max-height:374px) {

    .row.align-items-start {
        height: 165px;
        padding-top: 80px
    }

    .col h1 {
        font-size: 2.3em;
    }

    .col h2 {
        font-size: 1.5em;
    }

    .col h3 {
        font-size: 1.2em;
    }

}