/*------------- RESET ----------------------*/
*{box-sizing: border-box;}
*{margin:0;padding:0}
*{scroll-behavior: smooth}
*{-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: white;}

html, body{width: 100%; position: relative;}

body{font-size: 18px;}

main{width: 100%; overflow-x: hidden;}

/*----------------------- COLOR ------------------------*/
:root{
    --brightred: #F9423D;
    --darkgray: #212329;
    --darkgrayTransparent: #21232961;
	--darkredtransparent: #801e1b5d;
    --deepdark:#000;
    --lightgray:#d4cebd;
    --lightred: #f9433dcc;
    --lightyellow: #f4a235;
    --darkyellow: #ac7e41;
	--lightwhite:rgba(114,114,114,.25);
    --lightdark: rgba(19, 18, 18, 0.664);
	--ligthtransparent: rgba(0, 0, 0, 0.56);
	--lightgraytransparent: rgba(61, 61, 61, 0.185);
    --whitegraytransparent: rgba(183, 183, 183, 0.655);
    --white: #fff;
    --event: #151516;
    --navburger:rgba(0, 0, 0, 0.783);
}

/*------------------------ END COLOR ----------------------*/

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: var(--lightgray);
    background-color: var(--event);
}

.page-hero{
    padding: 20px;
    margin-top: 50px;
}

.bg-image {
    background: url('/event_page/assets/medias/bkg-img/banner-events2.jpg') center center;
    background-size: contain;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    max-width: 1024px;
}


/*----------------NAV--------------------*/

.nav-container{
    width: 100vw;
}
  
#nav{
  position:fixed;
  top: 0;
  transition: top 0.4s ;
  z-index: 9999;
}

#nav.navbar{
  background-color: var(--navburger);
}

#nav.navbar.hidden {
  top: -80px;
}
  
.navbar{
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  font-weight: 700;
}

#navbar-logo{
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(8, auto);
    list-style: none;
    text-align: center;
    justify-self: end;
	padding-right: 2rem;
}

.nav-links{
    /* font-size: 24px; */
	font-weight: 400;
	line-height: 22px;
    letter-spacing: 2px;
    color: var(--lightgray);
    text-decoration: none;
	margin: 0 25px;
	cursor: pointer;
  }
  
  
  .nav-links:hover{
    color: var(--darkyellow);
    transition: all 0.2s ease-out;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-out;
    background: var(--lightgray) ;
  }

/*--------------- SECTION PAGE-BODY CONTENT------------------*/

.page-body{
    margin-top: 50px;
}

.page-body-wrap-text{
    position: relative;
}

.container-fluid {
    position: relative;
    z-index: 10;
    padding: 0 0 60px;
    max-width: 800px;
    margin: auto;
}

.content{
    padding: 20px;
}

p{
    margin-bottom: 30px;
}

h1{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 100px;
    text-transform: uppercase;
    text-align: center;
}

h2{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 70px;
    text-transform: uppercase;
    text-align: center;
}

h3{
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
}

/*--------------- FORM ------------------*/

form{
    margin-bottom: 100px;
}

button.btn.btn-primary{
    color: var(--deepdark);
    background-color: var(--lightgray)!important;
    border-color: var(--lightgray)!important;
}


button.btn.btn-primary:hover{
    color: var(--darkyellow);
}


.return{
   text-decoration: none!important;
    font-size: 20px;
}


a.btn.btn-link{
    background-color: var(--lightgray)!important;
    padding: 5px 30px;
    text-decoration: none!important;
    transition: all 0.5s;
    cursor: pointer;
}

a.btn.btn-link {
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    color: var(--deepdark);
    text-decoration: none!important;
    line-height: 2em;
}

a.btn.btn-link:hover{
    transform: scale(1.2, 1.2);
    transition: all 0.5s;
}

a.btn.btn-link:hover{
    color: var(--darkyellow);
}

.pages-return{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*------------------- FOOTER ----------------*/

footer{
	background-color: var(--darkgray);
}

.credit{
	display:flex;
	align-items: center;
    color: var(--white);
	justify-content: space-around;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding: 50px;
}

.credit a {
	color: var(--lightgray)!important;
	text-decoration: none;
    cursor: pointer;
}

.credit a:hover {
    cursor: pointer;
    color: var(--darkyellow)!important;
}