/*------------- RESET ----------------------*/
*{box-sizing: border-box;}
*{margin:0;padding:0}
*{scroll-behavior: smooth}
*{-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: white;}

html, body{width: 100%; position: relative;}

body{font-size: 18px;}

main{width: 100%; overflow-x: hidden;}


/*----------------------- FONTS -----------------------*/

/* font-family: 'Covered By Your Grace', cursive; */

/* font-family: 'Waiting for the Sunrise', cursive; */

/*---------------------- END FONTS -----------------------*/

/*----------------------- VAR COLOR ------------------------*/
:root{
    --brightred: #F9423D;
    --darkgray: #212329;
    --darkgrayTransparent: #21232961;
	--darkredtransparent: #801e1b5d;
    --deepdark:#000;
    --lightgray:#d4cebd;
    --lightred: #f9433dcc;
    --lightyellow: #f4a235;
    --darkyellow: #ac7e41;
	--lightwhite:rgba(114,114,114,.25);
    --lightdark: rgba(19, 18, 18, 0.664);
	--ligthtransparent: rgba(0, 0, 0, 0.56);
	--lightgraytransparent: rgba(61, 61, 61, 0.185);
    --whitegraytransparent: rgba(183, 183, 183, 0.655);
    --white: #fff;
    --event: #151516;
}

/*------------------------ END VAR COLOR ----------------------*/

body {
    font-size: 16px;
    color: var(--lightgray);
    background-color: var(--event);
}

.bg-image {
    background: url('/event_page/assets/medias/bkg-img/Banner-concert-warmFest-leninaCrowne.png') center center;
    background-size: contain;
    width: 80%;
    height: 50vh;
    background-repeat: no-repeat;
}

.page-hero{
    margin-top: 50px;
}

/*----------------NAV--------------------*/

.nav-container{
    width: 100vw;
    background-color: var(--lightdark);
}
  
#nav{
  position:fixed;
  top: 0;
  transition: top 0.4s ;
  z-index: 9999;
}

#nav.navbar{
  background-color: var(--lightdark);
}

#nav.navbar.hidden {
  top: -80px;
}
  
.navbar{
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  font-weight: 700;
}

/* #navbar-logo{
    justify-self: start;
    width: 240px;
    margin: 0 20px 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: var(--lightyellow);
} */

#navbar-logo{
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(8, auto);
    list-style: none;
    text-align: center;
    justify-self: end;
	padding-right: 2rem;
}

.nav-links{
    /* font-size: 24px; */
	font-weight: 400;
	line-height: 22px;
    letter-spacing: 2px;
    color: var(--lightgray);
    text-decoration: none;
	margin: 0 25px;
	cursor: pointer;
  }
  
  
  .nav-links:hover{
    color: var(--darkyellow);
    transition: all 0.2s ease-out;
  }
  
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-out;
    background: var(--lightgray) ;
  }

/*--------------- SECTION PAGE-BODY CONTENT------------------*/

.page-body{
    margin-top: 50px;
}

.page-body-wrap-text{
    position: relative;
}

.container-fluid {
    position: relative;
    z-index: 10;
    padding: 0 0 60px;
    max-width: 800px;
    margin: auto;
}

.content{
    padding: 20px;
}

span{
    text-transform: uppercase;
    text-align: center;
}

p{
    margin-bottom: 30px;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 100px;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 70px;
}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 100%;
    height: auto;
}

form{
    margin-bottom: 100px;
}

button.btn.btn-primary{
    color: var(--lightgraytransparent);
    background-color: var(--lightgray)!important;
    border-color: var(--lightgray)!important;
}


button.btn.btn-primary:hover{
    color: var(--darkyellow);
}


.return{
   text-decoration: none!important;
    font-size: 20px;
}


button.btn.btn-link{
    background-color: var(--lightgray)!important;
    padding: 5px 30px;
    text-decoration: none!important;
    transition: all 0.5s;
    cursor: pointer;
}

button.btn.btn-link a{
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: var(--deepdark);
    text-decoration: none!important;
    
}

button.btn.btn-link:hover{
    transform: scale(1.2, 1.2);
    transition: all 0.5s;
}

button.btn.btn-link a:hover{
    color: var(--lightwhite);
}

.return{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer{
	background-color: var(--darkgray);
}
.social-banner{
	margin-bottom: 90px;
	background-color: #000000;
}
  
.social-icons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.social-icons i{
	padding: 50px;
}

.fa-facebook:hover{
	color:#3366cc; 
	cursor: pointer;
}

.fa-bandcamp:hover {
    color: #669999;
    cursor: pointer;
}

.fa-twitter:hover {
    color: #3399ff;
    cursor: pointer;
}
  .credit{
	display:flex;
	align-items: center;
	justify-content: space-around;
	color: var(--white);
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding: 50px;
  }

  .credit a{
	text-decoration: none;
  }