/* ----------------MEDIA QUERIES------------------------- */

:root{
    --brightred: #F9423D;
    --darkgray: #212329;
    --darkgrayTransparent: #21232961;
	--darkredtransparent: #801e1b5d;
    --deepdark:#000;
    --lightgray:#d4cebd;
    --lightred: #f9433dcc;
    --lightyellow: #f4a235;
    --darkyellow: #ac7e41;
	--lightwhite:rgba(114,114,114,.25);
    --lightdark: rgba(19, 18, 18, 0.664);
	--ligthtransparent: rgba(0, 0, 0, 0.56);
	--lightgraytransparent: rgba(61, 61, 61, 0.185);
    --whitegraytransparent: rgba(183, 183, 183, 0.655);
    --white: #fff;
    --event: #151516;
}

/*------------------BURGER MENU------------------*/
@media screen and (max-width:1080px) {
    
    .nav-container{
        position: relative;
    }
    
    .nav-menu{
        display: grid;
        grid-template-columns: auto;
        /* background: var(--brightred); */
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.7s ease;
    }
    
    #navbar-logo {
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    .nav-menu.active{
        background-color: var(--lightdark) ;
        left: 0;
        opacity: 1;
        transition: all 0.7s ease;
    }
    
    .nav-links{
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        margin: 0;
    }
    
    .nav-links:hover{
        color: var(--darkyellow);
        transition: all 0.4s ease-out;
    }
    
    .navbar{
        width: 100%;
    }
    
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    
    .menu-toggle .bar{
        display: block;
        cursor: pointer;
    }
    
    .menu-toggle:hover{
        cursor: pointer;
    }
    
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}