/*------------- RESET ----------------------*/
*{box-sizing: border-box;}
*{margin:0;padding:0}
*{scroll-behavior: smooth}
*{-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: white;}

html, body{width: 100%; position: relative;}

body{font-size: 18px;}

main{width: 100%; overflow-x: hidden;}


/*----------------------- FONTS -----------------------*/

/* font-family: 'Covered By Your Grace', cursive; */

/* font-family: 'Waiting for the Sunrise', cursive; */

/*---------------------- END FONTS -----------------------*/

/*----------------------- VAR COLOR ------------------------*/
:root{
    --brightred: #F9423D;
    --darkgray: #212329;
    --darkgrayTransparent: #21232961;
	--darkredtransparent: #801e1b5d;
    --deepdark:#000;
    --lightgray:#d4cebd;
    --lightred: #f9433dcc;
    --lightyellow:  #f4a235;
	--lightwhite:rgba(114,114,114,.25);
    --lightdark: rgba(19, 18, 18, 0.664);
	--ligthtransparent: rgba(0, 0, 0, 0.56);
	--lightgraytransparent: rgba(61, 61, 61, 0.185);
    --whitegraytransparent: rgba(183, 183, 183, 0.655);
    --white: #fff;
}

/*------------------------ END VAR COLOR ----------------------*/

body {
    font-size: 16px;
    color: var(--lightgray);
    background-color: var(--deepdark);
}

.bg-image {
    background: url('/event_page/assets/medias/bkg-img/Banner-concert-warmFest-leninaCrowne.png');
    background-size: contain;
    width: 80%;
    height: 50vh;
    background-repeat: no-repeat;
}

/* .row{
    height: 80vh;
} */

h1{
    font-family: 'Lato', sans-serif;
    font-size: 6em;
    letter-spacing: 5px;
    color: var(--lightgray);
    padding-left: 100px;
}

h2{
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: var(--lightgray);
}

/*----------------NAV--------------------*/

.page-body{
    margin-top: 100px;
}

.page-body-wrap-text{
    position: relative;
}

.container-fluid {
    position: relative;
    z-index: 10;
    padding: 100px 0 95px;
    max-width: 800px;
    margin: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
p{
    margin-bottom: 0;
}






